.film-detail, .film-detail > a {
  font-size: 30px;
  text-align: center;
  height: 900px;
}

#characters-btn {
  width: 300px;
}

h5 {
  margin-top: 80px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#desc {
  width: 700px;
  font-size: 30px;
  margin: auto;
  margin-top: -250px;
  font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(20deg);
  line-height: 50px;
}
#desc:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 30%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#desc-title {
  font-size: 25px;
}

#message {
  font-size: 15px;
  height: 30px;
}

.error {
  color: red;
}

.arrow {
  font-size: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

.arrow:hover {
  font-weight: bold;
  cursor: pointer;
}
