.films-list {
  margin-top: 50px;
  text-align: left;
}

.films-list > div > ul > li {
  font-size: 25px;
  cursor: pointer;
  list-style-position: inside;
  background-clip: padding-box;
  border: 1px solid transparent;
  padding: 5px;
}

.films-list > div > ul > li:hover {
  border: 1px solid rgb(128, 128, 0);
}
